# === General ===
.DS_Store
*.pem
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# === Node / Next.js ===
node_modules/
.pnp/
.pnp.js

# Local env files
.env
.env.*
!.env.example  # Keep env example if needed

# Build outputs
.next/
out/
build/
dist/

# Testing & Coverage
coverage/
.nyc_output/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/

# Turbo
.turbo/

# === Python / Django ===
# Python environments
env/
venv/
.venv/
ENV/
env.bak/
*.env

# Django specific
db.sqlite3
*.sqlite3
/media/
staticfiles/
static/
media/
local_settings.py

# PyCharm / VSCode / Misc IDEs
.idea/
.vscode/
*.code-workspace

# Migrations
**/migrations/
!**/migrations/__init__.py
